<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<div class="animated fadeIn">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header colores">
                  <strong>Prospecto</strong>
              </div>
              <div class="card-body fondo">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <div class="col-sm-12 col-md-12 col-xl-12 pb-3">
                                  <div class="row">
                                      <div class="btn-group ml-auto">
                                          <button type="button" class="btn btn-sm fondo-menu t-boton" (click)="Edit('')"><i class="fa fa-plus pr-2"></i>Nuevo Registro</button>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-12">
                                <form [formGroup]="prospecto"autocomplete="off" novalidate >
                                  <!-- <label for="id_almacen_receptor" class="titles"><span class="punto"></span>Filtro</label><br> -->
                                  <div class="col-md-12 pr-0 pl-0">
                                    <div class="row">
                                      <div class="form-group col-xl-3 col-md-3 col-sm-12">
                                        <label for="estado" class="titles"><span class="punto"></span>Buscar Por:</label>
                                        <ng-select dropdownPosition="bottom" class="sololetras" bindLabel="descripcion" bindValue="id" id="estado"
                                          name="estado" formControlName="prospecto" placeholder="Seleccione" 
                                          [(ngModel)]="prospectoVar.prospecto" [items]="prospectoBusquedad">
                                        </ng-select>
                    
                                        <div
                                          *ngIf="!prospecto.controls['prospecto'].valid && prospecto.controls['prospecto'].touched">
                    
                                          <p class="text-danger animated fadeIn"
                                            *ngIf="prospecto.controls['prospecto'].errors.required">Busqueda es requerida!</p>
                                          <p class="text-danger animated fadeIn"
                                            *ngIf="prospecto.controls['prospecto'].errors.minlength">Debe ser de al menos
                                            {{prospecto.controls['prospecto'].errors.minlength.requiredLength}} caracteres.</p>
                    
                                        </div>
                                      </div>
                                      <div class="form-group col-xl-3 col-md-3 col-sm-12">
                                        <label for="descripcion" class="titles"><span class="punto"></span>Ingrese Valor:</label>
                                        <input class="form-control numeroMas" type="text" name="descripcion" id="Descripcion" formControlName="descripcion" 
                                         [(ngModel)]="prospectoVar.descripcion">
                  
                                        <div *ngIf="!prospecto.controls['descripcion'].valid && prospecto.controls['descripcion'].touched"> 
                                            <p class="text-danger animated fadeIn" *ngIf="prospecto.controls['descripcion'].errors.required">¡Desbe ingrear un valor!</p>
                                           <p class="text-danger animated fadeIn" *ngIf="prospecto.controls['descripcion'].errors.minlength">Debe ser de al menos {{prospecto.controls['descripcion'].errors.minlength.requiredLength}} caracteres.</p> 
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-3 col-sm-12">
                                      <div class="btn-group">
                                        <button type="button" [disabled]="!prospecto.valid" style="margin-top:30px"
                                          class="btn btn-primary btn-sm" (click)="Buscar(prospectoVar)"><i
                                            class="fa fa-filter pr-2"></i>Buscar</button>
                                      </div>
                                    </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="busqueda">    
                              <table  class="table table-striped table-bordered" cellspacing="0" width="100%">
                                  <thead class="text-center bg-light">
                                      <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Edad</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Opciones</th>
                                      </tr>
                                    </thead>
                                    <tbody class="text-center">
                                      <tr *ngIf="prospectos">
                                        <td class="text-left pl-3">{{prospectos.prospectoId}}</td>
                                        <td class="text-left pl-3">{{prospectos.prospectoName}}</td>
                                        <td class="text-left pl-3">{{prospectos.prospectoAge}}</td>
                                        <td class="text-left pl-3">{{prospectos.prospectoMail}}</td>
                                        <td class="text-left pl-3">{{prospectos.prospectoStatus}}</td>

                                        <td>
                                          <div class="btn-group ">
                                            <button type="button " class="btn btn-danger btn-sm mr-1"
                                              (click)="Borrar(prospectos.prospectoId) "><i
                                                class="fa fa-trash pr-2 "></i>Eliminar</button>
                                           
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                              </table>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
     </div>
  </div> 
</div> 
<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" autocomplete="off" [config]="{ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-lm" role="document">
    <div class="modal-content fondo" appMovable>
      <div class="modal-header">
        <h5 class="modal-title letterSize">Agregar Prospecto</h5>
        <button type="button" class="close" (click)="hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="formModal" action="">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="prospectoId" class="titles"><span class="punto">*</span>id</label>
                    <input class="form-control letrasguion" type="text" id="prospectoId" name="prospectoId"
                          [(ngModel)]="prospectoForm.prospectoId"  
                          formControlName="prospectoId">

                    <div
                      *ngIf="!formModal.controls['prospectoId'].valid && formModal.controls['prospectoId'].touched">

                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoId'].errors.required">¡El id es requerido!</p>
                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoId'].errors.minlength">Debe ser de al menos
                        {{formModal.controls['prospectoId'].errors.minlength.requiredLength}} caracteres.</p>

                    </div>
                  </div>
                </div> 
                
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="prospectoName" class="titles"><span class="punto">*</span>Nombre</label>
                    <input class="form-control letrasguion" type="text" id="prospectoName" name="prospectoName"
                          [(ngModel)]="prospectoForm.prospectoName"  
                          formControlName="prospectoName">

                    <div
                      *ngIf="!formModal.controls['prospectoName'].valid && formModal.controls['prospectoName'].touched">

                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoName'].errors.required">¡El nombre es requerido!</p>
                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoName'].errors.minlength">Debe ser de al menos
                        {{formModal.controls['prospectoName'].errors.minlength.requiredLength}} caracteres.</p>

                    </div>
                  </div>
                </div>  
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="prospectoAge" class="titles"><span class="punto">*</span>Edad</label>
                    <input class="form-control letrasguion" type="text" id="prospectoAge" name="prospectoAge"
                          [(ngModel)]="prospectoForm.prospectoAge"  
                          formControlName="prospectoAge">

                    <div
                      *ngIf="!formModal.controls['prospectoAge'].valid && formModal.controls['prospectoAge'].touched">

                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoAge'].errors.required">¡Edad es requerida!</p>
                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoAge'].errors.minlength">Debe ser de al menos
                        {{formModal.controls['prospectoAge'].errors.minlength.requiredLength}} caracteres.</p>

                    </div>
                  </div>
                </div>  
                
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="prospectoMail" class="titles"><span class="punto">*</span>Email</label>
                    <input class="form-control letrasguion" type="text" id="prospectoMail" name="prospectoMail"
                          [(ngModel)]="prospectoForm.prospectoMail"  
                          formControlName="prospectoMail">

                    <div
                      *ngIf="!formModal.controls['prospectoMail'].valid && formModal.controls['prospectoMail'].touched">

                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoMail'].errors.required">¡El email es requerido!</p>
                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoMail'].errors.minlength">Debe ser de al menos
                        {{formModal.controls['prospectoMail'].errors.minlength.requiredLength}} caracteres.</p>

                    </div>
                  </div>
                </div> 
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="prospectoStatus" class="titles"><span class="punto">*</span>Estado</label>
                    <input class="form-control letrasguion" type="text" id="prospectoStatus" name="prospectoStatus"
                          [(ngModel)]="prospectoForm.prospectoStatus"  
                          formControlName="prospectoStatus">

                    <div
                      *ngIf="!formModal.controls['prospectoStatus'].valid && formModal.controls['prospectoStatus'].touched">

                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoStatus'].errors.required">¡El estado es requerido!</p>
                      <p class="text-danger animated fadeIn"
                        *ngIf="formModal.controls['prospectoStatus'].errors.minlength">Debe ser de al menos
                        {{formModal.controls['estado'].errors.minlength.requiredLength}} caracteres.</p>

                    </div>
                  </div>
                </div> 
      
                
              </div>   
            </form>
          </div>
        </div>     
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!formModal.valid"
         (click)="Save(prospectoForm)">
          <i class="fa fa-save pr-2"></i>Guardar
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="hide()">
          <i class=" fa fa-ban pr-2 "></i>Cancelar
        </button>
      </div>
    </div>
  </div>
</div>